.aboutme-padding {
  /* position: relative;
  max-width: 960px;
  margin: 0px auto;
  box-sizing: content-box; */
  padding: 40px;
}

#aboutme .content {
  display: flex;
  /* flex-flow: row; */
  box-sizing: border-box;
  gap: 13px;
  margin: 0 auto;
  padding: 50px 0;
}

@media (max-width: 1000px) {
  #aboutme .content {
    flex-direction: column !important;
  }
  #aboutme .img {
    width: 200px !important;
    height: 200px !important;
  }
}
#aboutme .content > .content-left {
  flex: none; /* 이미지 영역을 고정 크기로 설정 */
  /*  width: 300px; 이미지의 너비 */
}
#aboutme .content > .content-left > h2 {
  position: absolute;
  z-index: 10;
  font-size: 3em;
}
#aboutme .content > .content-left > .img-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#aboutme .content > .content-left > .img-container > .img {
  background-image: url(../images/otuky2.png);
  border-radius: 193px;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 250px;
  display: inline-block;
  margin: 0;
}

#aboutme .content > .content-left > .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgb(172, 223, 255);
}
#aboutme .content > .content-right {
  flex: 1;
}
#aboutme .content > .content-right > .profile > p.profile-content {
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
  text-align: left;
  padding: 40px;
}
