header {
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 0px 40px;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}
header > .container {
  height: 100%;
  display: flex;
  flex-flow: row;
  gap: 0px;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
}
header > .container > div {
  letter-spacing: 0.1em;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

/* header > .container > nav {
  position: absolute;
  top: 0;
  left: 50;
  margin-left: -470px;
  width: 100%;
  height: 60px;
} */
header > .container > nav > ul {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 10px;
  height: 100%;
}
header > .container > nav > ul > li {
  float: left;
  width: 160px;
  text-align: center;
}
header > .container > nav > ul > li > a {
  font-size: 16px;
  /* line-height: 60px; */
  font-weight: 600;
}
@media (max-width: 1000px) {
  header > .container > div {
    display: none;
  }
  header > .container > nav {
    left: 50%;
    width: 100%;
  }
  header > .container > nav > ul > li {
    width: 20%;
    transition: font-size 0.3s ease;
  }
  header > .container > nav > ul > li > a {
    font-size: 14px;
  }
}
header > .container > nav > ul > li:hover > a,
header > .container > nav > ul > li > a:focus,
header > .container > nav > ul > li.select > a {
  color: #ffb412;
  /* #9d64c7; */
}
li {
  box-sizing: border-box;
  list-style: none;
}
li a {
  color: inherit;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.flexArea {
  width: 100%;
  height: 72px;
  border-bottom: 1px solid transparent;
}
