.project-list {
  height: 100%;
  /* width: 100%; */
  display: flex;
  flex-flow: row;
  gap: 0px;
  justify-content: center;
  padding: 50px 40px;
}

.project-list > ul {
  height: 100%;
  width: 100%;
}
.project-list > ul > li {
  display: inline-block;
  margin: 0 5px;
  font-size: 18px;
}
.project-list > ul > li:not(:last-child)::after {
  content: " |";
  margin-left: 5px;
  color: #ccc;
  font-size: 12px;
}

.pj {
  display: inline-flex;
  flex-direction: row-reverse;
}

.pj .project-content {
  padding: 50px;
  text-align: left;
}
.pj .project-content > h3.subject {
  margin-bottom: 20px;
  font-size: 20px;
}
.pj .project-img {
  text-indent: -9999px;
  /* background-image: url(../images/a.jpg); */
  background-repeat: no-repeat;
  width: 330px;
  background-size: cover;
}
@media (max-width: 1000px) {
  .pj {
    flex-direction: column-reverse !important;
    align-items: center;
  }

  .project-img {
    background-repeat: no-repeat;
    height: 400px;
    justify-content: center;
  }
}
