.project-list {
  height: 100%;
  /* width: 100%; */
  display: flex;
  flex-flow: row;
  gap: 0px;
  justify-content: center;
  padding: 50px 40px;
}

.project-list > ul {
  height: 100%;
  width: 100%;
}
.project-list > ul > li {
  display: inline-block;
  margin: 0 5px;
  font-size: 18px;
}
.project-list > ul > li:not(:last-child)::after {
  content: " |";
  margin-left: 5px;
  color: #ccc;
  font-size: 12px;
}

.pj {
  display: inline-flex;
  gap: 40px;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.pj .project-content {
  padding: 20px;
  text-align: left;
  width: 500px;
  box-sizing: border-box;
}
.pj .project-content > h3.subject {
  margin-bottom: 20px;
  font-size: 20px;
}
.pj .img {
  text-indent: -9999px;
  background-repeat: no-repeat;
  width: 400px;
  height: 300px;
}
@media (max-width: 1000px) {
  .pj {
    flex-direction: column-reverse !important;
  }

  /* .project-img {
    height: 400px;
    justify-content: center;
  } */
}
