section {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;

  padding: 0 8%;
}
@media (max-width: 1000px) {
  section {
    padding: 0;
  }
}
section h2 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: inherit;
  margin-bottom: 30px;
}
section#projects {
  height: 100%;
}
.test {
  margin-bottom: 150px;
  padding: 60px 50px;
  align-content: center;
}
#home {
  height: 100vh;
  background-color: rgb(255, 255, 255);
}
#home .container {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: -webkit-xxx-large;
  box-sizing: border-box;
}
#home span {
  font-weight: bold;
  box-sizing: border-box;
}

#contact {
  width: 100%;
  height: 350px;
  text-align: center;
  /* padding-top: 110px; */
}
