.skill-category {
  padding: 50px 40px;
  /* text-align: left; */
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  max-width: 960px;
}

.skill-category h4 {
  margin: 0;
  padding: 20px;
}

.skill-category ul {
  list-style: none;
  padding: 20px;
  /*display: flex;
  flex-flow: row;
  align-items: center;*/
  gap: 25px;
  height: 100%;
}

.skill-category li {
  font-size: 18px;
  /* margin: 0 5px; */
  /* float: left; */
  width: 160px;
  text-align: center;
  display: inline-block;
}
.skill-category li:hover {
  background-color: #f49389;
  color: #fff;
  border-radius: 5px;
  padding: 3px 8px;
  transition: all 0.4s;
}
