body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
div,
ul,
li,
nav {
  margin: 0;
  padding: 0;
  border: 0;
}

#wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

hr {
  display: none;
}
